.login-form-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 30%;
  padding: 20px 35px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
}

.login-website-logo-desktop-image {
  height: 35px;
  margin-bottom: 25px;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.input-label{
  color: #475569;
  font-weight: 400;
}
.password-input-field,
.username-input-field {
  height: 40px;
  padding: 5px;
  border-color: #e2e8f0;
  border-style: solid;
  border-width: 1px;
  outline: none;
}
.username-input-field {
  margin-bottom: 15px;
}
.password-input-field {
  margin-bottom: 8px;
}
.show-password-container {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: flex-start;
}
.login-button {
  background-color: #3b82f6;
  color: white;
  border-width: 0px;
  padding: 8px 10px;
  align-self: stretch;
  margin-top: 15px;
  border-radius: 6px;
}
.error-message {
  color: #ff0000;
  align-self: flex-start;
}

@media screen and (max-width: 767px){
  .form-container{
    width: 80%;
  }
}